body{
    background-color: antiquewhite;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003049;
    background-color: #001219;
}
.focus{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003049;
    background-color: #001219;
}
#mage{
    height: 75px;
    width: 75px;
}

h1{
    text-align: center;
    padding: 10px;
}

#p1{
    color: rgb(9, 7, 134);
    text-shadow: #e91919;
    padding: 50px 50px 50px 50px;
}

#p2{
    color: blue;
    text-shadow: #03180a;
}

#p3{
    color: rgb(49, 0, 128);
}

.d1{
    display: flex;
    align-content: center;
}

.hover-button {
    background-color: #003049;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.hover-button:hover {
    background-color: white;
    color: #4CAF50;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li.search {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    font-size: 16px;
}

.search-button {
    cursor: pointer;
    padding: 5px;
}

.search-icon {
    background-color: #003049;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 20px;
    width: 20px;
}
